/*
	@name page_berceuses
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_page_berceuses_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}

#_bg__page_berceuses_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}


#background5_1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
}


#background2_1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 911px;
}


#rectangle_12 {
	top: 600px;
	left: -5px;
	width: 1450px;
	height: 512px;
	background:rgba(129,192,80,1);
}


#rectangle_1 {
	opacity:0.43000000715256;
	top: 352px;
	left: 51px;
	width: 1360px;
	height: 639px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	-ms-box-shadow:4px -1px 16px 1px rgba(0,0,0,0.16);
	-o-box-shadow:4px -1px 16px 1px rgba(0,0,0,0.16);
	-webkit-box-shadow:4px -1px 16px 1px rgba(0,0,0,0.16);
	-moz-box-shadow:4px -1px 16px 1px rgba(0,0,0,0.16);
	box-shadow:4px -1px 16px 1px rgba(0,0,0,0.16);
	background:rgba(87.52,53.84,130.37,0.43);
}

#group_11 {
	top: 744px;
	left: 1074px;
	width: 265px;
	height: 201px;
}

#_bg__group_11_ek1 {
	top: -744px;
	left: -1074px;
	width: 265px;
	height: 201px;
	background:#;
}


#rectangle_6 {
	top: -2px;
	left: -2px;
	width: 265px;
	height: 201px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	border: 2px solid #14322e;
	background:rgba(255,255,255,0);
}


#union {
	top: 35px;
	left: 70px;
	width: 124.72px;
	height: 118.8px;
}

#group_3 {
	top: 45px;
	left: 1034px;
	width: 173px;
	height: 57px;
}

#_bg__group_3_ek1 {
	top: -45px;
	left: -1034px;
	width: 173px;
	height: 57px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:#;
}


#bouton_accueil {
	opacity:0.89999997615814;
	top: -1px;
	left: -1px;
	width: 173px;
	height: 57px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	border: 1px solid #b071ff;
	background:rgba(175.72,113.43,255,0.9);
}


#accueil {
	top: 7px;
	left: 38px;
	width: 117px;
	height: 45px;
	overflow: hidden;
	font-family: Itim;
	font-size: 30px;
	text-align: left;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #b071ff;
	color:#FFFFFF;
}


#c_lins_du_soir {
	top: 31px;
	left: 39px;
	width: 488.4px;
	height: 89.4px;
	overflow: hidden;
	font-family: Coiny;
	font-size: 64px;
	text-align: left;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ffffff;
	color: rgba(0,0,0,0.25);
	opacity: 0.25;
}
#c_lins_du_soir:before {

	content: "Clins du soir ";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #FFFFFF;
}

#group_4 {
	top: 45px;
	left: 1227px;
	width: 173px;
	height: 57px;
}

#_bg__group_4_ek1 {
	top: -45px;
	left: -1227px;
	width: 173px;
	height: 57px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:#;
}


#bouton_archive {
	top: 0px;
	left: 0px;
	width: 173px;
	height: 57px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	background:rgba(255,255,255,1);
}


#archive {
	top: 8px;
	left: 32px;
	width: 133px;
	height: 45px;
	overflow: hidden;
	font-family: Itim;
	font-size: 30px;
	text-align: left;
	color:#AF71FF;
}

#group_14 {
	top: 269px;
	left: 1220px;
	width: 180px;
	height: 57px;
}

#_bg__group_14_ek1 {
	top: -269px;
	left: -1220px;
	width: 180px;
	height: 57px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:#;
}


#bouton_accueil_ek1 {
	opacity:0.95999997854233;
	top: 0px;
	left: 0px;
	width: 180px;
	height: 57px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	background:rgba(255,255,255,0.96);
}


#historique {
	top: 9px;
	left: 47px;
	width: 147.8px;
	height: 42.8px;
	overflow: hidden;
	font-family: Itim;
	font-size: 28px;
	text-align: left;
	color:#AF71FF;
}

#mdi_recent {
	top: 10px;
	left: 8px;
	width: 36px;
	height: 36px;
}

#_bg__mdi_recent_ek1 {
	top: 0px;
	left: 0px;
	width: 36px;
	height: 36px;
	background:#;
}


#vector {
	top: 4.5px;
	left: 1.5px;
	width: 31.5px;
	height: 27px;
}

#group_32 {
	top: 269px;
	left: 1034px;
	width: 173px;
	height: 57px;
}

#_bg__group_32_ek1 {
	top: -269px;
	left: -1034px;
	width: 173px;
	height: 57px;
	background:#;
}


#bouton_accueil_ek2 {
	top: 0px;
	left: 0px;
	width: 173px;
	height: 57px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
}


#favoris {
	top: 9px;
	left: 68px;
	width: 107.8px;
	height: 42.8px;
	overflow: hidden;
	font-family: Itim;
	font-size: 28px;
	text-align: left;
	color:#AF71FF;
}

#material_symbols_favorite_outline {
	top: 10px;
	left: 13px;
	width: 46px;
	height: 41px;
}

#_bg__material_symbols_favorite_outline_ek1 {
	top: 0px;
	left: 0px;
	width: 46px;
	height: 41px;
	background:#;
}


#vector_ek1 {
	top: 4.53px;
	left: 3.83px;
	width: 38.33px;
	height: 31.35px;
}


#bouton_accueil_ek3 {
	opacity:0.89999997615814;
	top: 269px;
	left: 836px;
	width: 185px;
	height: 57px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(175.72,113.43,255,0.9);
}


#berceuses {
	top: 277px;
	left: 872px;
	width: 151px;
	height: 42.8px;
	overflow: hidden;
	font-family: Itim;
	font-size: 28px;
	text-align: center;
	color:#FFFFFF;
}

#mingcute_music_3_line {
	top: 277px;
	left: 842px;
	width: 42px;
	height: 40px;
}

#_bg__mingcute_music_3_line_ek1 {
	top: 0px;
	left: 0px;
	width: 42px;
	height: 40px;
	background:#;
}

#group {
	top: 0px;
	left: 0px;
	width: 42px;
	height: 40px;
}

#_bg__group_ek1 {
	top: 0px;
	left: 0px;
	width: 42px;
	height: 40px;
	background:#;
}


#vector_ek2 {
	top: 0px;
	left: 0px;
	width: 42px;
	height: 40px;
}


#vector_ek3 {
	top: 3px;
	left: 4px;
	width: 35px;
	height: 33.33px;
}

#mingcute_music_3_line_ek2 {
	top: 413px;
	left: 91px;
	width: 42px;
	height: 40px;
}

#_bg__mingcute_music_3_line_ek3 {
	top: 0px;
	left: 0px;
	width: 42px;
	height: 40px;
	background:#;
}

#group_ek2 {
	top: 0px;
	left: 0px;
	width: 42px;
	height: 40px;
}

#_bg__group_ek3 {
	top: 0px;
	left: 0px;
	width: 42px;
	height: 40px;
	background:#;
}


#vector_ek4 {
	top: 0px;
	left: 0px;
	width: 42px;
	height: 40px;
}


#vector_ek5 {
	top: 3px;
	left: 4px;
	width: 35px;
	height: 33.33px;
}

#group_34 {
	top: 269px;
	left: 637px;
	width: 179px;
	height: 57px;
}

#_bg__group_34_ek1 {
	top: -269px;
	left: -637px;
	width: 179px;
	height: 57px;
	background:#;
}


#bouton_accueil_ek4 {
	top: 0px;
	left: 0px;
	width: 179px;
	height: 57px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
}


#histoires {
	top: 10px;
	left: 64px;
	width: 129.8px;
	height: 42.8px;
	overflow: hidden;
	font-family: Itim;
	font-size: 28px;
	text-align: left;
	color:#AF71FF;
}

#material_symbols_auto_stories_outline {
	top: 8px;
	left: 10px;
	width: 49px;
	height: 38px;
}

#_bg__material_symbols_auto_stories_outline_ek1 {
	top: 0px;
	left: 0px;
	width: 49px;
	height: 38px;
	background:#;
}


#vector_ek6 {
	top: 0.79px;
	left: 2.04px;
	width: 44.92px;
	height: 30.88px;
}


#rectangle_5 {
	opacity:0.23999999463558;
	top: 394px;
	left: 72px;
	width: 926px;
	height: 76px;
	-ms-border-radius: 46px;
	-o-border-radius: 46px;
	-moz-border-radius: 46px;
	-webkit-border-radius: 46px;
	border-radius: 46px;
	border: 1px solid #ffffff;
	-ms-box-shadow:2px 2px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:2px 2px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:2px 2px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:2px 2px 4px 1px rgba(0,0,0,0.25);
	box-shadow:2px 2px 4px 1px rgba(0,0,0,0.25);
	background:rgba(246.5,246.5,246.5,0.24);
}


#bouton_accueil_ek5 {
	top: 395px;
	left: 150px;
	width: 849px;
	height: 76px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-52.12735802437deg , rgba(255,255,255,1) 0%, rgba(254.99,254.99,254.99,0.98) 61%, rgba(254.98,254.98,254.98,0.95) 87%, rgba(254.98,254.98,254.98,0.21) 99%);
	background: -o-linear-gradient(-52.12735802437deg , rgba(255,255,255,1) 0%, rgba(254.99,254.99,254.99,0.98) 61%, rgba(254.98,254.98,254.98,0.95) 87%, rgba(254.98,254.98,254.98,0.21) 99%);
	background: -moz-linear-gradient(-52.12735802437deg , rgba(255,255,255,1) 0%, rgba(254.99,254.99,254.99,0.98) 61%, rgba(254.98,254.98,254.98,0.95) 87%, rgba(254.98,254.98,254.98,0.21) 99%);
	background: -ms-linear-gradient(-52.12735802437deg , rgba(255,255,255,1) 0%, rgba(254.99,254.99,254.99,0.98) 61%, rgba(254.98,254.98,254.98,0.95) 87%, rgba(254.98,254.98,254.98,0.21) 99%);
	background: linear-gradient(-52.12735802437deg , rgba(255,255,255,1) 0%, rgba(254.99,254.99,254.99,0.98) 61%, rgba(254.98,254.98,254.98,0.95) 87%, rgba(254.98,254.98,254.98,0.21) 99%);
}


#titre_du_morceau {
	top: 417px;
	left: 285px;
	width: 430.8px;
	height: 36.8px;
	overflow: hidden;
	font-family: Judson;
	font-size: 28px;
	text-align: left;
	color:#AF71FF;
}

#solar_play_outline {
	top: 411px;
	left: 206px;
	width: 53px;
	height: 48px;
}

#_bg__solar_play_outline_ek1 {
	top: 0px;
	left: 0px;
	width: 53px;
	height: 48px;
	background:#;
}


#vector_ek7 {
	top: 2.5px;
	left: 4.97px;
	width: 45.27px;
	height: 43px;
}

#material_symbols_light_favorite_outline {
	top: 408px;
	left: 770px;
	width: 58px;
	height: 56px;
}

#_bg__material_symbols_light_favorite_outline_ek1 {
	top: 0px;
	left: 0px;
	width: 58px;
	height: 56px;
	background:#;
}


#vector_ek8 {
	top: 8.52px;
	left: 7.25px;
	width: 43.5px;
	height: 37.34px;
}

#teenyicons_bin_outline {
	top: 405px;
	left: 920px;
	width: 47px;
	height: 52px;
}

#_bg__teenyicons_bin_outline_ek1 {
	top: 0px;
	left: 0px;
	width: 47px;
	height: 52px;
	background:#;
}


#vector_ek9 {
	top: 0.73px;
	left: -1px;
	width: 47px;
	height: 49.53px;
}

#humbleicons_download {
	top: 399px;
	left: 837px;
	width: 74px;
	height: 69px;
}

#_bg__humbleicons_download_ek1 {
	top: 0px;
	left: 0px;
	width: 74px;
	height: 69px;
	background:#;
}


#vector_ek10 {
	top: 9.49px;
	left: 10.13px;
	width: 51.53px;
	height: 48.01px;
}


#rectangle_16 {
	opacity:0.66000002622604;
	top: 393px;
	left: 1034px;
	width: 337px;
	height: 298px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	-ms-box-shadow:4px -1px 16px 1px rgba(0,0,0,0.16);
	-o-box-shadow:4px -1px 16px 1px rgba(0,0,0,0.16);
	-webkit-box-shadow:4px -1px 16px 1px rgba(0,0,0,0.16);
	-moz-box-shadow:4px -1px 16px 1px rgba(0,0,0,0.16);
	box-shadow:4px -1px 16px 1px rgba(0,0,0,0.16);
	background:rgba(20.25,50.24,45.5,0.66);
}


#rectangle_17 {
	top: 691px;
	left: 1034px;
	width: 337px;
	height: 82px;
}


#bouton_accueil_ek6 {
	opacity:0.79000002145767;
	top: 618px;
	left: 1170px;
	width: 74px;
	height: 63px;
	-ms-border-radius: 31px;
	-o-border-radius: 31px;
	-moz-border-radius: 31px;
	-webkit-border-radius: 31px;
	border-radius: 31px;
	background:rgba(217,217,217,0.79);
}


#vector_ek11 {
	top: 630px;
	left: 1283px;
	width: 34.12px;
	height: 42px;
}


#vector_ek12 {
	top: 630px;
	left: 1093px;
	width: 34.12px;
	height: 42px;
}



/* Add your custom CSS here */
