
.accueil,
.accueil * {
  box-sizing: border-box;
}

button {
  background: none;
  border: whitesmoke;
  cursor: pointer;
  outline: none;
}

.accueil {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.background-5-1 {
  width: 2325px;
  height: 1147px;
  position: absolute;
  left: -885px;
  top: -499px;
  object-fit: cover;
}
.background-2-1 {
  width: 1568px;
  height: 911px;
  position: absolute;
  left: 0px;
  top: -311px;
  object-fit: cover;
}
.rectangle-12 {
  background: #81c050;
  width: 1450px;
  height: 512px;
  position: absolute;
  left: calc(50% - 725px);
  top: 600px;
}
.rectangle-1 {
  background: rgba(20, 50, 46, 0.66);
  border-radius: 31px;
  width: 1360px;
  height: 639px;
  position: absolute;
  left: 40px;
  top: 350px;
  box-shadow: 4px -1px 16px 2px rgba(0, 0, 0, 0.16);
}
.c-lins-du-soir {
  color: rgba(255, 255, 255, 0.98);
  text-align: left;
  font-family: "Coiny-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 32px;
  -webkit-text-stroke: 1px #ffffff;
}
.group-11 {
  height: auto;
  position: absolute;
  left: 1119px;
  top: 411px;
  overflow: visible;
}
.group-14 {
  position: absolute;
  inset: 0;
}
.bouton-accueil {
  background: rgba(255, 255, 255, 0.96);
  border-radius: 31px;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 1220px;
  top: 269px;
}
.historique {
  color: rgba(176, 113, 255, 0.9);
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 1267px;
  top: 278px;
}
.mdi-recent {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 1228px;
  top: 279px;
  overflow: visible;
}
.group-32 {
  position: absolute;
  inset: 0;
}
.bouton-accueil2 {
  background: #ffffff;
  border-radius: 31px;
  width: 173px;
  height: 57px;
  position: absolute;
  left: 1034px;
  top: 269px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.favoris {
  color: rgba(176, 113, 255, 0.9);
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 1102px;
  top: 278px;
}
.material-symbols-favorite-outline {
  width: 46px;
  height: 41px;
  position: absolute;
  left: 1047px;
  top: 279px;
  overflow: visible;
}
.group-33 {
  position: absolute;
  inset: 0;
}
.bouton-accueil3 {
  background: #ffffff;
  border-radius: 31px;
  width: 185px;
  height: 57px;
  position: absolute;
  left: 836px;
  top: 269px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.berceuses {
  color: rgba(176, 113, 255, 0.9);
  text-align: center;
  font-family: "Itim-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 877px;
  top: 277px;
  width: 143px;
}
.mingcute-music-3-line {
  width: 42px;
  height: 40px;
  position: absolute;
  left: 842px;
  top: 277px;
  overflow: hidden;
}
.group {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.group-34 {
  position: absolute;
  inset: 0;
}
.bouton-accueil4 {
  background: rgba(176, 113, 255, 0.9);
  border-radius: 31px;
  width: 179px;
  height: 57px;
  position: absolute;
  left: 637px;
  top: 269px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.histoires {
  color: #ffffff;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 701px;
  top: 279px;
}
.material-symbols-auto-stories-outline {
  width: 49px;
  height: 38px;
  position: absolute;
  left: 647px;
  top: 277px;
  overflow: visible;
}
.group-19 {
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: rgba(246, 246, 246, 0.24);
  border-radius: 31px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  width: 322px;
  height: 253px;
  position: absolute;
  left: 75px;
  top: 386px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.alice-au-pays-des-merveilles-1951-62942-1200-x-675-1 {
  border-radius: 31px;
  width: 316px;
  height: 230px;
  position: absolute;
  left: 79px;
  top: 388px;
  object-fit: cover;
}
.bouton-accueil5 {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.98) 60.50000190734863%,
    rgba(255, 255, 255, 0.53) 91.50000214576721%,
    rgba(255, 255, 255, 0.26) 99.00000095367432%
  );
  border-radius: 0px 0px 29px 29px;
  width: 322px;
  height: 81px;
  position: absolute;
  left: 75px;
  top: 557px;
}
.alice-au-pays-des-merveilles {
  color: rgba(176, 113, 255, 0.9);
  text-align: left;
  font-family: "Judson-Bold", sans-serif;
  font-size: 28px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 108px;
  top: 577px;
}
.solar-play-outline {
  width: 53px;
  height: 48px;
  position: absolute;
  left: 325px;
  top: 575px;
  overflow: visible;
}
.material-symbols-favorite-outline2 {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 328px;
  top: 395px;
  overflow: visible;
}
.group-20 {
  position: absolute;
  inset: 0;
}
.rectangle-52 {
  background: rgba(246, 246, 246, 0.24);
  border-radius: 31px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  width: 322px;
  height: 253px;
  position: absolute;
  left: 429px;
  top: 386px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.secret-garden-book-27168-1 {
  border-radius: 31px;
  width: 319px;
  height: 232px;
  position: absolute;
  left: 431px;
  top: 388px;
  object-fit: cover;
}
.bouton-accueil6 {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.98) 60.50000190734863%,
    rgba(255, 255, 255, 0.53) 91.50000214576721%,
    rgba(255, 255, 255, 0.26) 99.00000095367432%
  );
  border-radius: 0px 0px 29px 29px;
  width: 322px;
  height: 81px;
  position: absolute;
  left: 429px;
  top: 557px;
}
.le-jardin-secret {
  color: rgba(176, 113, 255, 0.9);
  text-align: left;
  font-family: "Judson-Bold", sans-serif;
  font-size: 30px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 456px;
  top: 583px;
}
.solar-play-outline2 {
  width: 53px;
  height: 48px;
  position: absolute;
  left: 679px;
  top: 575px;
  overflow: visible;
}
.material-symbols-favorite-outline3 {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 682px;
  top: 395px;
  overflow: visible;
}
.group-21 {
  position: absolute;
  inset: 0;
}
.rectangle-53 {
  background: rgba(246, 246, 246, 0.24);
  border-radius: 31px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  width: 322px;
  height: 253px;
  position: absolute;
  left: 774px;
  top: 388px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
._71-ds-1-m-n-08-w-l-1 {
  border-radius: 31px;
  width: 319px;
  height: 244px;
  position: absolute;
  left: 775px;
  top: 388px;
  object-fit: cover;
}
.bouton-accueil7 {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.98) 46.50000035762787%,
    rgba(255, 255, 255, 0.53) 91.00000262260437%,
    rgba(255, 255, 255, 0.19) 99.00000095367432%
  );
  border-radius: 0px 0px 29px 29px;
  width: 322px;
  height: 81px;
  position: absolute;
  left: 774px;
  top: 559px;
}
.jane-eyre {
  color: rgba(176, 113, 255, 0.9);
  text-align: left;
  font-family: "Judson-Bold", sans-serif;
  font-size: 29px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 807px;
  top: 585px;
}
.solar-play-outline3 {
  width: 53px;
  height: 48px;
  position: absolute;
  left: 1024px;
  top: 577px;
  overflow: visible;
}
.material-symbols-favorite-outline4 {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 1027px;
  top: 397px;
  overflow: visible;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.bouton-accueil8 {
  background: rgba(176, 113, 255, 0.9);
  border-radius: 31px;
  border-style: solid;
  border-color: rgba(176, 113, 255, 0.9);
  border-width: 1px;
  width: 173px;
  height: 57px;
  position: absolute;
  left: 1034px;
  top: 39px;
}
.accueil2 {
  color: #ffffff;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1073px;
  top: 47px;
  -webkit-text-stroke: 1px rgba(176, 113, 255, 0.9);
}
.group-4 {
  position: absolute;
  inset: 0;
}
.bouton-archive {
  background: #ffffff;
  border-radius: 31px;
  width: 173px;
  height: 57px;
  position: absolute;
  left: 1227px;
  top: 39px;
}
.archive {
  color: rgba(176, 113, 255, 0.9);
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1259px;
  top: 47px;
}
