.page-corbeille,
.page-corbeille * {
  box-sizing: border-box;
}
.page-corbeille {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.background-5-1 {
  width: 2325px;
  height: 1147px;
  position: absolute;
  left: -885px;
  top: -499px;
  object-fit: cover;
}
.background-2-1 {
  width: 1568px;
  height: 911px;
  position: absolute;
  left: 0px;
  top: -311px;
  object-fit: cover;
}
.rectangle-12 {
  background: #81c050;
  width: 1450px;
  height: 512px;
  position: absolute;
  left: calc(50% - 725px);
  top: 600px;
}
.rectangle-1 {
  background: rgba(88, 54, 130, 0.43);
  border-radius: 31px;
  width: 1334px;
  height: 656px;
  position: absolute;
  left: 51px;
  top: 335px;
  box-shadow: 4px -1px 16px 2px rgba(0, 0, 0, 0.16);
}
.rectangle-18 {
  border-radius: 46px;
  border-style: solid;
  border-color: rgba(162, 162, 162, 0.68);
  border-width: 1px;
  width: 654px;
  height: 532px;
  position: absolute;
  left: 720px;
  top: 442px;
  box-shadow: 4px -1px 16px 2px rgba(0, 0, 0, 0.16);
}
.c-lins-du-soir {
  color: rgba(255, 255, 255, 0.98);
  text-align: left;
  font-family: "Coiny-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 32px;
  -webkit-text-stroke: 1px #ffffff;
}
.mingcute-music-3-line {
  width: 42px;
  height: 40px;
  position: absolute;
  left: 91px;
  top: 413px;
  overflow: hidden;
}
.group {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.teenyicons-bin-outline {
  width: 39px;
  height: 40px;
  position: absolute;
  left: 539px;
  top: 54px;
  overflow: hidden;
}
.group-49 {
  position: absolute;
  inset: 0;
}
.rectangle-5 {
  background: rgba(246, 246, 246, 0.24);
  border-radius: 46px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.98);
  border-width: 1px;
  width: 604px;
  height: 76px;
  position: absolute;
  left: 72px;
  top: 450px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.bouton-accueil {
  background: #ffffff;
  border-radius: 0px 46px 46px 0px;
  width: 527px;
  height: 76px;
  position: absolute;
  left: 149px;
  top: 450px;
}
.titre-de-l-histoire {
  color: rgba(176, 113, 255, 0.9);
  text-align: left;
  font-family: "Judson-Regular", sans-serif;
  font-size: 28px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 169px;
  top: 470px;
  width: 333px;
}
.guidance-bin {
  width: 50px;
  height: 49px;
  position: absolute;
  left: 601px;
  top: 463px;
  overflow: visible;
}
.mdi-light-share {
  width: 62px;
  height: 49px;
  position: absolute;
  left: 591px;
  top: 463px;
  transform: translate(-62px, 0px);
  overflow: visible;
}
.group-50 {
  position: absolute;
  inset: 0;
}
.vector {
  width: 2.43%;
  height: 3.25%;
  position: absolute;
  right: 45.38%;
  left: 52.19%;
  bottom: 50.72%;
  top: 46.03%;
  overflow: visible;
}
.rectangle-52 {
  background: rgba(246, 246, 246, 0.24);
  border-radius: 46px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.98);
  border-width: 1px;
  width: 604px;
  height: 76px;
  position: absolute;
  left: 730px;
  top: 450px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.bouton-accueil2 {
  background: #ffffff;
  border-radius: 0px 46px 46px 0px;
  width: 527px;
  height: 76px;
  position: absolute;
  left: 807px;
  top: 450px;
}
.titre-du-morceau {
  color: rgba(176, 113, 255, 0.9);
  text-align: left;
  font-family: "Judson-Regular", sans-serif;
  font-size: 28px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 822px;
  top: 472px;
  width: 409px;
}
.guidance-bin2 {
  width: 50px;
  height: 49px;
  position: absolute;
  left: 1259px;
  top: 463px;
  overflow: visible;
}
.mdi-light-share2 {
  width: 62px;
  height: 49px;
  position: absolute;
  left: 1249px;
  top: 463px;
  transform: translate(-62px, 0px);
  overflow: visible;
}
.bouton-histoires-page {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 31px;
  width: 154px;
  height: 57px;
  position: absolute;
  left: 523px;
  top: 46px;
}
.corbeille {
  color: #ffffff;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 27px;
  font-weight: 400;
  position: absolute;
  left: 549px;
  top: 58px;
}
.group-37 {
  position: absolute;
  inset: 0;
}
.ellipse-3 {
  background: rgba(176, 113, 255, 0.9);
  border-radius: 50%;
  width: 66px;
  height: 66px;
  position: absolute;
  left: 1328px;
  top: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.teenyicons-bin-solid {
  width: 38px;
  height: 38px;
  position: absolute;
  left: 1342px;
  top: 46px;
  overflow: visible;
}
.group-38 {
  position: absolute;
  inset: 0;
}
.group-39 {
  width: 66px;
  height: 66px;
  position: static;
}
.ellipse-32 {
  background: #ffffff;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  position: absolute;
  left: 1232px;
  top: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.mi-home {
  width: 49px;
  height: 47px;
  position: absolute;
  left: 1241px;
  top: 41px;
  overflow: visible;
}
.line-4 {
  width: 524.04px;
  height: 0px;
  position: absolute;
  left: 719.75px;
  top: 430.98px;
  overflow: visible;
}
.group-52 {
  position: absolute;
  inset: 0;
}
.rectangle-17 {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 31px 31px 0px 0px;
  width: 1334px;
  height: 75px;
  position: absolute;
  left: 51px;
  top: 335px;
}
.histoires {
  color: #a2a2a2;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 32px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 309px;
  top: 352px;
}
.line-5 {
  width: 52.01px;
  height: 0px;
  position: absolute;
  left: 706px;
  top: 346px;
  transform: translate(-1.5px, -1.5px);
  overflow: visible;
}
.material-symbols-auto-stories-outline {
  width: 49px;
  height: 38px;
  position: absolute;
  left: 254px;
  top: 350px;
  overflow: visible;
}
.rectangle-16 {
  border-radius: 46px;
  border-style: solid;
  border-color: rgba(162, 162, 162, 0.68);
  border-width: 1px;
  width: 643px;
  height: 532px;
  position: absolute;
  left: 63px;
  top: 442px;
  box-shadow: 4px -1px 16px 2px rgba(0, 0, 0, 0.16);
}
.material-symbols-auto-stories-outline2 {
  width: 49px;
  height: 38px;
  position: absolute;
  left: 87px;
  top: 467px;
  overflow: visible;
}
.group-53 {
  position: absolute;
  inset: 0;
}
.berceuses {
  color: #a2a2a2;
  text-align: left;
  font-family: "Itim-Regular", sans-serif;
  font-size: 32px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 984.55px;
  top: 354px;
  width: 141.85px;
}
.mingcute-music-3-line2 {
  width: 42px;
  height: 40px;
  position: absolute;
  left: 938px;
  top: 352px;
  overflow: hidden;
}
.group2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
